/* custom styling */
body, *{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}


:root {
    /* --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
 
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive; */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

}

li{
    list-style: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

}