@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* custom styling */
body, *{
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style: none;
    appearance: none;
    outline: none;
}


:root {
    --Lobster: "Lobster", sans-serif;
    --pacifico: "Pacifico", cursive;
    --inter: "Inter", sans-serif; /* any font weight can be used*/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --transition: all 300ms ease;

    --container-width-lg: 90%;
    --container-width-md: 88%;
    --form-width: 40%;

}

body{
    font-family: "Inter", sans-serif; 
}

/* General styles */

.flex-row,.flex-column, .flex-wrap{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.div-center{
    justify-content: center;
    align-items: center;
}

.container{
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
}

.section{
    margin-top: 2rem ;
    width: 100vw;
}

.hidden{
    display: none;
}

/* Navbar style */
.nav__container{
    justify-content: space-between;
}
.nav__logo{
    font-family: var(--pacifico);
    font-size: 2rem;
}
.nav__logo img{
    width: 2rem;
    height: 2rem;
}

.nav__logo span{
    color: #a1c4fd;
    text-shadow: 2px 2px #d0e3e7;

}

.nav__items{
  justify-content: space-between;
}